# Static type checking tool
mypy

# Unit test tools
pytest
pytest-cov
pytest-xdist

# TFC dependencies (note: not authenticated with hashes)

pyserial

argon2_cffi
cffi
pycparser
six

PyNaCl
setuptools

cryptography

stem

pysocks

requests
certifi
chardet
idna
urllib3

flask
click
itsdangerous
jinja2
markupsafe
werkzeug
