# Static type checking tool
mypy

# Unit test tools
pytest
pytest-cov
pytest-xdist

# TFC dependencies (note: not authenticated with hashes)

# pyserial
pyserial

# argon2_cffi
argon2_cffi
cffi
pycparser
six

# pyca/pynacl
PyNaCl
setuptools

# pyca/cryptography
cryptography

# Stem
stem

# PySocks
pysocks

# Requests
requests
certifi
chardet
idna
urllib3

# Flask
flask
click
itsdangerous
jinja2
markupsafe
werkzeug
